body {
  background-image: url('https://miro.medium.com/max/2880/0*76BuvhNKMrAOSLFH.jpg');
}



h2 {border:2px solid black}


p {background-color: #C3FDB8;
border:2px solid white;
font-size:230%;}